body{
    background-color: white;
}

#left{
    border-left: 2px solid rgb(220, 218, 218);
    width:40%;
    position:relative;
    left:60%;
    padding-left:2%;
    padding-top:7%;
}

.field{
    width:80%;
    height:40px;
    border-radius: 8px;
    border-color: rgb(212, 209, 209);
    border-width: 0.3px;
}

a{
    text-decoration: none;
}

#o1{
    display:block;
    width:80%;
    height:35px;
    border-radius: 15px;
    background-color: rgb(115, 115, 227);
    color:white;

    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center; /* centers vertically */
}

#o2{
    color:black;
    text-decoration: bold;
    
    display:block;
    width:80%;
    text-align:center;
    
}

#o3{
    display:block;
    width:80%;
    height:35px;
    border-radius: 15px;
    background-color:white;
    border: 2px solid rgb(212, 209, 209);
    color:black;
    
    
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center; /* centers vertically */
}


#o4{
    display:block;
    width:80%;
    height:35px;
    border-radius: 15px;
    background-color:white;
    border: 2px solid rgb(52, 138, 243);
    color:rgb(52, 138, 243);
    
    
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center; /* centers vertically */
}

#meta{
    width:80%;
    text-align: center;

}

#title{
    text-align:center;
    font-size:30px;
    width:250px;
    position: absolute;   
    top: 50px; 
    left:400px;
}

#i1{
  position: absolute;   
  top: 350px;            
  left: 530px;
  transform: rotate(20deg);
  border-radius: 10px;
}

#i2{
  position: absolute;   
  top: 300px;            
  left: 280px;
  transform: rotate(-30deg);
  border-radius: 10px;
}

#i3{
  position: absolute;   
  top: 300px;            
  left: 380px;
  
  border-radius: 10px;
}

#last{
    color: rgb(206, 205, 205);
    text-align: center;
    margin-left:5%;
    margin-right:4%;
}

#logo{
    width:80px;
    position: absolute;   
    top: 90px;            
    left: 90px;
}

#insta{
  background: linear-gradient(
    to right,
    purple,
    pink,
    orange,
    yellow
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


